In [2]:
"""Module import"""

"""Import module of openalea packages"""
from openalea.core import path
from openalea.mtg import *
from openalea.mtg.algo import orders
from openalea.deploy.shared_data import shared_data
import openalea.plantgl.all as pgl

""" Import module of strawberry packages"""
import openalea.strawberry
from openalea.strawberry import Rules_production
from openalea.strawberry import Visualization

""" import module R"""
#from rpy2 import *

' import module R'

In [4]:
% gui qt
files = shared_data(openalea.strawberry).glob('*.mtg')
files

[Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Capriss.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Ciflorette.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Cir107.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Clery.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Darselect.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Gariguette.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Gariguette_2.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Nils.mtg'),
 Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Nils2.63.39.mtg')]

In [5]:
g=MTG(files[6]) 
files[6]

== Line 44: "
FEATURE description error.
== Line 46: "
FEATURE description error.
== Line 48: "
FEATURE description error.

Path(u'c:\\users\\mlabadie\\appdata\\local\\continuum\\miniconda2\\envs\\strawberry\\lib\\site-packages\\openalea.strawberry-1.0.0-py2.7.egg\\share\\data\\Gariguette_2.mtg')

In [6]:
#visualisation by Genotype and date
g=MTG(files[1]) 
g.properties()['order'] = orders(g)
Rules_production.color_code(g)
scene = Visualization.visualise_plants(g)

pgl.Viewer.display(scene)

replace all the date format by -

c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:64: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:64: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:112: Warning: Invalid Color value 10 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:112: Warning: Invalid Color value 9 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:112: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:64: Warning: Invalid Color value 9 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:112: Warning: Invalid Color value 11 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:64: Warning: Invalid Color value 10 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:112: Warning: Invalid Color value 12 in setColor (maximum is 6)
  t.setColor(8+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:127: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:64: Warning: Invalid Color value 11 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:151: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:151: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:38: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:64: Warning: Invalid Color value 12 in setColor (maximum is 6)
  t.setColor(6+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:127: Warning: Invalid Color value 8 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:94: Warning: Invalid Color value 7 in setColor (maximum is 6)
  t.setColor(2+order)
c:\users\mlabadie\appdata\local\continuum\miniconda2\envs\strawberry\lib\site-packages\openalea.strawberry-1.0.0-py2.7.egg\openalea\strawberry\Rules_production.py:112: Warning: Invalid Color value 13 in setColor (maximum is 6)
  t.setColor(8+order)

In [7]:
""" Merge all MTG to realize au big_MTG with all varieties"""

big_mtg = MTG()
for fn in files:
    big_mtg = algo.union(big_mtg, MTG(fn))
g = big_mtg
genotypes = set(g.property("Genotype").itervalues())
print genotypes

replace all the date format by -
replace all the date format by -
replace all the date format by -
replace all the date format by -
replace all the date format by -
replace all the date format by -
set(['Ciflorette', 'Darselect', 'Gariguette', 'Capriss', 'Clery', 'Nils_2.63.39', 'Cir107'])

In [10]:
""" Import dataframe"""
from openalea.strawberry import analysis
g.properties()['order'] = orders(g)
Rules_production.color_code(g)
df = analysis.to_dataframe(g, g.vertices(scale=1))
df

,Experience_Names,Genotype,Plant,Plante,Sample_Date,Stage,_line,complex,date,diam_mm,index,label,order,parent,scale,vid
1,NaN,Capriss,NaN,1.0,NaN,NaN,47,0,10-12-2014,NaN,1,P,0,None,1,1
120,NaN,Capriss,NaN,2.0,NaN,NaN,167,0,10-12-2014,NaN,120,P,0,None,1,120
212,NaN,Capriss,NaN,3.0,NaN,NaN,260,0,10-12-2014,NaN,212,P,0,None,1,212
266,NaN,Capriss,NaN,4.0,NaN,NaN,315,0,10-12-2014,NaN,266,P,0,None,1,266
344,NaN,Capriss,NaN,5.0,NaN,NaN,394,0,10-12-2014,NaN,344,P,0,None,1,344
439,NaN,Capriss,NaN,6.0,NaN,NaN,490,0,10-12-2014,NaN,439,P,0,None,1,439
527,NaN,Capriss,NaN,7.0,NaN,NaN,579,0,10-12-2014,NaN,527,P,0,None,1,527
607,NaN,Capriss,NaN,8.0,NaN,NaN,660,0,10-12-2014,NaN,607,P,0,None,1,607
672,NaN,Capriss,NaN,9.0,NaN,NaN,726,0,10-12-2014,NaN,672,P,0,None,1,672
758,NaN,Capriss,NaN,1.0,NaN,NaN,813,0,07-01-2015,NaN,758,P,0,None,1,758
839,NaN,Capriss,NaN,2.0,NaN,NaN,895,0,07-01-2015,NaN,839,P,0,None,1,839
962,NaN,Capriss,NaN,3.0,NaN,NaN,1019,0,07-01-2015,NaN,962,P,0,None,1,962
1080,NaN,Capriss,NaN,4.0,NaN,NaN,1138,0,07-01-2015,NaN,1080,P,0,None,1,1080
1253,NaN,Capriss,NaN,5.0,NaN,NaN,1312,0,07-01-2015,NaN,1253,P,0,None,1,1253
1352,NaN,Capriss,NaN,6.0,NaN,NaN,1412,0,07-01-2015,NaN,1352,P,0,None,1,1352
1473,NaN,Capriss,NaN,7.0,NaN,NaN,1534,0,07-01-2015,NaN,1473,P,0,None,1,1473
1592,NaN,Capriss,NaN,8.0,NaN,NaN,1654,0,07-01-2015,NaN,1592,P,0,None,1,1592
1707,NaN,Capriss,NaN,9.0,NaN,NaN,1770,0,07-01-2015,NaN,1707,P,0,None,1,1707
1803,NaN,Capriss,NaN,1.0,NaN,NaN,1867,0,15-02-2015,NaN,1803,P,0,None,1,1803
1924,NaN,Capriss,NaN,2.0,NaN,NaN,1989,0,15-02-2015,NaN,1924,P,0,None,1,1924
2088,NaN,Capriss,NaN,3.0,NaN,NaN,2154,0,15-02-2015,NaN,2088,P,0,None,1,2088
2249,NaN,Capriss,NaN,4.0,NaN,NaN,2316,0,15-02-2015,NaN,2249,P,0,None,1,2249
2325,NaN,Capriss,NaN,5.0,NaN,NaN,2393,0,15-02-2015,NaN,2325,P,0,None,1,2325
2474,NaN,Capriss,NaN,6.0,NaN,NaN,2543,0,15-02-2015,NaN,2474,P,0,None,1,2474
2606,NaN,Capriss,NaN,7.0,NaN,NaN,2677,0,15-02-2015,NaN,2606,P,0,None,1,2606
2685,NaN,Capriss,NaN,8.0,NaN,NaN,2757,0,15-02-2015,NaN,2685,P,0,None,1,2685
2808,NaN,Capriss,NaN,9.0,NaN,NaN,2881,0,15-02-2015,NaN,2808,P,0,None,1,2808
3002,NaN,Capriss,NaN,1.0,NaN,NaN,3076,0,02-03-2015,NaN,3002,P,0,None,1,3002
3130,NaN,Capriss,NaN,2.0,NaN,NaN,3205,0,02-03-2015,NaN,3130,P,0,None,1,3130
3224,NaN,Capriss,NaN,3.0,NaN,NaN,3300,0,02-03-2015,NaN,3224,P,0,None,1,3224
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34131,NaN,Gariguette,NaN,9.0,NaN,NaN,2863,0,12-02-2015,NaN,34131,P,0,None,1,34131
34237,NaN,Gariguette,NaN,1.0,NaN,NaN,2970,0,06-03-2015,NaN,34237,P,0,None,1,34237
34328,NaN,Gariguette,NaN,2.0,NaN,NaN,3062,0,06-03-2015,NaN,34328,P,0,None,1,34328
34416,NaN,Gariguette,NaN,3.0,NaN,NaN,3151,0,06-03-2015,NaN,34416,P,0,None,1,34416
34535,NaN,Gariguette,NaN,4.0,NaN,NaN,3271,0,06-03-2015,NaN,34535,P,0,None,1,34535
34665,NaN,Gariguette,NaN,5.0,NaN,NaN,3402,0,06-03-2015,NaN,34665,P,0,None,1,34665
34782,NaN,Gariguette,NaN,6.0,NaN,NaN,3520,0,06-03-2015,NaN,34782,P,0,None,1,34782
34894,NaN,Gariguette,NaN,7.0,NaN,NaN,3633,0,06-03-2015,NaN,34894,P,0,None,1,34894
34968,NaN,Gariguette,NaN,8.0,NaN,NaN,3708,0,06-03-2015,NaN,34968,P,0,None,1,34968
35073,NaN,Gariguette,NaN,9.0,NaN,NaN,3814,0,06-03-2015,NaN,35073,P,0,None,1,35073
35220,NaN,Gariguette,NaN,1.0,NaN,NaN,3962,0,02-04-2015,NaN,35220,P,0,None,1,35220
35465,NaN,Gariguette,NaN,2.0,NaN,NaN,4208,0,02-04-2015,NaN,35465,P,0,None,1,35465
35583,NaN,Gariguette,NaN,3.0,NaN,NaN,4327,0,02-04-2015,NaN,35583,P,0,None,1,35583
35651,NaN,Gariguette,NaN,4.0,NaN,NaN,4396,0,02-04-2015,NaN,35651,P,0,None,1,35651
35817,NaN,Gariguette,NaN,5.0,NaN,NaN,4563,0,02-04-2015,NaN,35817,P,0,None,1,35817
35897,NaN,Gariguette,NaN,6.0,NaN,NaN,4644,0,02-04-2015,NaN,35897,P,0,None,1,35897
35994,NaN,Gariguette,NaN,7.0,NaN,NaN,4742,0,02-04-2015,NaN,35994,P,0,None,1,35994
36109,NaN,Gariguette,NaN,8.0,NaN,NaN,4858,0,02-04-2015,NaN,36109,P,0,None,1,36109
36419,NaN,Gariguette,NaN,9.0,NaN,NaN,5169,0,02-04-2015,NaN,36419,P,0,None,1,36419
36523,NaN,Gariguette,NaN,1.0,NaN,NaN,5274,0,19-05-2015,NaN,36523,P,0,None,1,36523
36669,NaN,Gariguette,NaN,2.0,NaN,NaN,5421,0,19-05-2015,NaN,36669,P,0,None,1,36669
36852,NaN,Gariguette,NaN,3.0,NaN,NaN,5605,0,19-05-2015,NaN,36852,P,0,None,1,36852
36995,NaN,Gariguette,NaN,4.0,NaN,NaN,5749,0,19-05-2015,NaN,36995,P,0,None,1,36995
37066,NaN,Gariguette,NaN,5.0,NaN,NaN,5821,0,19-05-2015,NaN,37066,P,0,None,1,37066
37201,NaN,Gariguette,NaN,6.0,NaN,NaN,5957,0,19-05-2015,NaN,37201,P,0,None,1,37201
37395,NaN,Gariguette,NaN,7.0,NaN,NaN,6152,0,19-05-2015,NaN,37395,P,0,None,1,37395
37510,NaN,Gariguette,NaN,8.0,NaN,NaN,6268,0,19-05-2015,NaN,37510,P,0,None,1,37510
37634,NaN,Gariguette,NaN,9.0,NaN,NaN,6393,0,19-05-2015,NaN,37634,P,0,None,1,37634
37860,Topmodel_2016_03,Nils_2.63.39,154.0,NaN,11/05/2016,3,48,0,NaN,NaN,37860,P,0,None,1,37860
37886,Topmodel_2016_03,Nils_2.63.39,155.0,NaN,11/05/2016,3,75,0,NaN,NaN,37886,P,0,None,1,37886

In [11]:
"""Visualization of One Plante selected according to Genotype, Plante and date"""
"""Capriss	4	10/12/2014
Capriss	7	07/01/2015
Capriss	5	15/02/2015
Capriss	6	02/03/2015
Capriss	6	03/04/2015
Capriss	4	27/05/2015
"""
"""Identification of Vid (Visitor ID)"""
vid = int(df[df.Genotype=='Capriss'][df.Plante==4][df.date=='10-12-2014'].vid)

"""Visualisattion of the Plant"""
scene=Visualization.visualise_plants(g, [vid], positions=[(0,0,0)])
pgl.Viewer.display(scene)

C:\Users\mlabadie\AppData\Local\Continuum\miniconda2\envs\strawberry\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

In [12]:
#Visualisation some plants selected according to Genotype and Plante or Genotype and date

#vids = list(df[df.Genotype=='Capriss'][df.Stade==3].vid.values)
vids = list(df[df.Genotype=='Capriss'][df.date=="10-12-2014"].vid.values)
print vids


n = len(vids)
n_cols = 1 #selection of number of column for representation
n_rows = n/n_cols+1

dx =2 #Select start point on x axis on the grid
dy = 4 #Select start point on y axis on the grid
y0 = -n_rows*dx /2.
x0 = -n_cols*dy/2.
positions = [(x0+i*dx, y0+j*dy, 0) for i in range(n_cols) for j in range(n_rows)][:n]

scene = Visualization.visualise_plants(g, vids, positions)
pgl.Viewer.display(scene)

C:\Users\mlabadie\AppData\Local\Continuum\miniconda2\envs\strawberry\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

[1, 120, 212, 266, 344, 439, 527, 607, 672]

In [40]:
reload(Rules_production)
reload(Visualization)
import pandas as pd
sel=pd.read_csv('Z:\G1\Marc-Labadie\Python\strawberry\share\data\Plant.selected2.csv', sep=';', skiprows=0, index_col=None)
del sel['dist']
sel.Genotype = sel.Genotype.str.strip() 
#sel = sel[sel.Genotype.str.strip()==('Capris')]
sel_df = pd.merge(sel,df)
sel_df =pd.DataFrame.sort(sel_df,columns= "vid",ascending=True)
#print sel_df

"""Selection of Vids"""
vids= list(sel_df[sel_df.Genotype.isin(["Cir107"])].vid)
print vids
""" Define position"""
n = len(vids)
n_cols = 1 #selection of number of column for representation
n_rows = n/n_cols

dx =3.5 #Select start point on x axis on the grid
dy = 4 #Select start point on y axis on the grid
y0 = -n_rows*dx /2.
x0 = -n_cols*dy/2.
positions = [(x0+i*dx, y0+j*dy, 0) for i in range(n_cols) for j in range(n_rows)][:n]

"""Visualization function"""
scene=Visualization.visualise_plants(g,vids,positions)
pgl.Viewer.display(scene)

[14305, 15147, 16402, 18289, 18697, 20025]

In [13]:
sel=pd.read_csv('Z:\G1\Marc-Labadie\Python\strawberry\share\data\Plant.selected2.csv', sep=';', skiprows=0, index_col=None)
del sel['dist']
sel.Genotype = sel.Genotype.str.strip() 
sel_df = pd.merge(sel,df)
sel_df
sel

NameError: name 'pd' is not defined

In [16]:
sel_df = pd.merge(sel,df)
sel_df

Empty DataFrame
Columns: [Genotype, date, Plante, dist, _line, complex, diam_mm, index, label, order, parent, scale, vid]
Index: []

In [22]:
df

,Genotype,Plante,_line,complex,date,diam_mm,index,label,order,parent,scale,vid
1,Capriss,1,47,0,10-12-2014,NaN,1,P,0,None,1,1
118,Capriss,2,167,0,10-12-2014,NaN,118,P,0,None,1,118
209,Capriss,3,260,0,10-12-2014,NaN,209,P,0,None,1,209
263,Capriss,4,315,0,10-12-2014,NaN,263,P,0,None,1,263
340,Capriss,5,394,0,10-12-2014,NaN,340,P,0,None,1,340
434,Capriss,6,490,0,10-12-2014,NaN,434,P,0,None,1,434
522,Capriss,7,579,0,10-12-2014,NaN,522,P,0,None,1,522
602,Capriss,8,660,0,10-12-2014,NaN,602,P,0,None,1,602
667,Capriss,9,726,0,10-12-2014,NaN,667,P,0,None,1,667
752,Capriss,1,813,0,07-01-2015,NaN,752,P,0,None,1,752
833,Capriss,2,895,0,07-01-2015,NaN,833,P,0,None,1,833
954,Capriss,3,1019,0,07-01-2015,NaN,954,P,0,None,1,954
1071,Capriss,4,1138,0,07-01-2015,NaN,1071,P,0,None,1,1071
1244,Capriss,5,1312,0,07-01-2015,NaN,1244,P,0,None,1,1244
1343,Capriss,6,1412,0,07-01-2015,NaN,1343,P,0,None,1,1343
1464,Capriss,7,1534,0,07-01-2015,NaN,1464,P,0,None,1,1464
1583,Capriss,8,1654,0,07-01-2015,NaN,1583,P,0,None,1,1583
1698,Capriss,9,1770,0,07-01-2015,NaN,1698,P,0,None,1,1698
1794,Capriss,1,1867,0,15-02-2015,NaN,1794,P,0,None,1,1794
1913,Capriss,2,1989,0,15-02-2015,NaN,1913,P,0,None,1,1913
2077,Capriss,3,2154,0,15-02-2015,NaN,2077,P,0,None,1,2077
2238,Capriss,4,2316,0,15-02-2015,NaN,2238,P,0,None,1,2238
2314,Capriss,5,2393,0,15-02-2015,NaN,2314,P,0,None,1,2314
2462,Capriss,6,2543,0,15-02-2015,NaN,2462,P,0,None,1,2462
2594,Capriss,7,2677,0,15-02-2015,NaN,2594,P,0,None,1,2594
2673,Capriss,8,2757,0,15-02-2015,NaN,2673,P,0,None,1,2673
2796,Capriss,9,2881,0,15-02-2015,NaN,2796,P,0,None,1,2796
2990,Capriss,1,3076,0,02-03-2015,NaN,2990,P,0,None,1,2990
3118,Capriss,2,3205,0,02-03-2015,NaN,3118,P,0,None,1,3118
3212,Capriss,3,3300,0,02-03-2015,NaN,3212,P,0,None,1,3212
...,...,...,...,...,...,...,...,...,...,...,...,...
33721,Gariguette,7,2674,0,12-02-2015,NaN,33721,P,0,None,1,33721
33796,Gariguette,8,2750,0,12-02-2015,NaN,33796,P,0,None,1,33796
33908,Gariguette,9,2863,0,12-02-2015,NaN,33908,P,0,None,1,33908
34014,Gariguette,1,2970,0,06-03-2015,NaN,34014,P,0,None,1,34014
34105,Gariguette,2,3062,0,06-03-2015,NaN,34105,P,0,None,1,34105
34193,Gariguette,3,3151,0,06-03-2015,NaN,34193,P,0,None,1,34193
34312,Gariguette,4,3271,0,06-03-2015,NaN,34312,P,0,None,1,34312
34442,Gariguette,5,3402,0,06-03-2015,NaN,34442,P,0,None,1,34442
34559,Gariguette,6,3520,0,06-03-2015,NaN,34559,P,0,None,1,34559
34671,Gariguette,7,3633,0,06-03-2015,NaN,34671,P,0,None,1,34671
34745,Gariguette,8,3708,0,06-03-2015,NaN,34745,P,0,None,1,34745
34850,Gariguette,9,3814,0,06-03-2015,NaN,34850,P,0,None,1,34850
34997,Gariguette,1,3962,0,02-04-2015,NaN,34997,P,0,None,1,34997
35242,Gariguette,2,4208,0,02-04-2015,NaN,35242,P,0,None,1,35242
35360,Gariguette,3,4327,0,02-04-2015,NaN,35360,P,0,None,1,35360
35428,Gariguette,4,4396,0,02-04-2015,NaN,35428,P,0,None,1,35428
35593,Gariguette,5,4563,0,02-04-2015,NaN,35593,P,0,None,1,35593
35673,Gariguette,6,4644,0,02-04-2015,NaN,35673,P,0,None,1,35673
35770,Gariguette,7,4742,0,02-04-2015,NaN,35770,P,0,None,1,35770
35885,Gariguette,8,4858,0,02-04-2015,NaN,35885,P,0,None,1,35885
36195,Gariguette,9,5169,0,02-04-2015,NaN,36195,P,0,None,1,36195
36299,Gariguette,1,5274,0,19-05-2015,NaN,36299,P,0,None,1,36299
36442,Gariguette,2,5418,0,19-05-2015,NaN,36442,P,0,None,1,36442
36625,Gariguette,3,5602,0,19-05-2015,NaN,36625,P,0,None,1,36625
36768,Gariguette,4,5746,0,19-05-2015,NaN,36768,P,0,None,1,36768
36839,Gariguette,5,5818,0,19-05-2015,NaN,36839,P,0,None,1,36839
36974,Gariguette,6,5954,0,19-05-2015,NaN,36974,P,0,None,1,36974
37168,Gariguette,7,6149,0,19-05-2015,NaN,37168,P,0,None,1,37168
37283,Gariguette,8,6265,0,19-05-2015,NaN,37283,P,0,None,1,37283
37407,Gariguette,9,6390,0,19-05-2015,NaN,37407,P,0,None,1,37407